<ul *ngIf="paginas?.length >0" class="pagination">

<!--Se va a la pagina siguiente hasta llegar a la primera página
  y se desactiva la flecha-->
  <li class="page-item" *ngIf="paginador.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1]">&laquo;</a>
  </li>
<!--Se va a la primera página-->
  <li [ngClass]="paginador.first? 'disabled page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', 0]">Primera</a>
  </li>

  <li *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number? 'page-item active':'page-item'">
    <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
    <a *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="['/clientes/page', pagina-1]">{{pagina}}</a>
  </li>

<!--Se va a la ultima pagina-->
  <li [ngClass]="paginador.last?' disabled page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]">Última</a>
  </li>
<!--Se va a la pagina siguiente hasta llegar a la última página y se desactiva
la flecha-->
  <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1]">&raquo;</a>
  </li>
</ul>
